/* Styl for widget */

.details-tooltype
	display: inline-block
	summary
		display: flex
		cursor: pointer
		box-sizing: border-box
		align-items: center
		&.is-select
			gap: 0px 1ex
		&.is-select:after
			content: '⮟'
			line-height: 0px
			color: var( --border-color, GrayText )
		& + *
			opacity: 0
			transition: opacity .3s
			text-decoration: none
			position: fixed
			display: flex
			flex-direction: column
			background: var( --canvas-color, Canvas )
			box-shadow: 0px 0px 1.5rem -0.5rem var( --border-color, GrayText )
			border-radius: .5rem
			padding: 1rem 0px
			top: 0px
			left: 0px
			box-sizing: border-box
			z-index: -1
			list-style: none
			margin: 0px
	&[open] > summary.is-select:after
		content: '⮝'
	&.with-pointer
		summary
			position: relative
			&:before
				opacity: 0
				content: ""
				width: .5rem
				height: .5rem
				background: var( --canvas-color, Canvas )
				position: absolute
				transform: rotate(45deg)
				left: 1ex
		&:not(.is-top) summary:before
			box-shadow: 0px 0px .55rem .1rem var( --border-color, GrayText )
			bottom: -.8rem
			z-index: 0
		&.is-top summary:before
			box-shadow: 0.2rem 0.2rem .4rem .1rem var( --border-color, GrayText )
			top: -.8rem
			z-index: 1001
	&[open].with-pointer summary:before
			opacity: 1
			transition: opacity .3s
