
h1, h2
	font-size: 1.5em
h3, h2
	font-weight: normal

h1, h2, h3, h4, h5, h6
	margin: 0px
	padding: 0px
	display: grid
	grid-template-columns: auto 1fr auto
	grid-template-areas: "icon span aside" "defenition defenition defenition"
	align-items: center
	gap: 0px 1rem
	color: var(--title-color)
	& > aside
		grid-area: aside
		place-self: stretch
	& > dfn
		grid-area: defenition
		font: var(--font-extra)
		[contenteditable]
			display: inline-block
			padding-top: 1rem

del
	cursor: pointer
	display: inline-flex
	align-items: center
	justify-content: center
	text-decoration: none
	color: var(--invalid-color)
	&:empty:before
		content: '×'
		font-size: .9rem

dfn
	color: var(--extra-color)

p > dfn
	font-size: 1rem
	display: block

a
	text-decoration: none
	color: var(--link-color)
	&:hover
		color: var(--hover-color)
	&:active, &.active
		color: var(--active-color)
	&.not-active
		color: var(--link-color)

svg
	box-sizing: border-box
	use
		pointer-events: none

kbd
	width: 1.5rem
	height: 1.5rem
	display: inline-flex
	align-items: center
	justify-content: center
	cursor: pointer
	color: var(--extra-color)
	&.active, &:active
		color: var(--active-color)
	&[href]
		color: var(--link-color)
		&:hover
			color: var( --hover-color )
	svg, img, use
		width: 100%
		height: 100%
		fill: currentColor
		pointer-events: none

abbr > svg
	width: 100%
	height: 100%
	fill: currentColor

i
	display: inline-flex
	align-items: center
	justify-content: center
	svg
		width: 100%
		height: 100%
		fill: currentColor

menu
	display: flex
	align-items: center
	justify-content: space-between
	margin: 0px
	padding: 0px
	gap: 1rem
	& > h1,& > h2,& > h3,& > h4,& > h5,& > h6
		flex-grow: 1
		margin: 0px
		padding: 0px

	& > aside
		display: flex
		align-items: center
		gap: 1rem

hr
	overflow: visible
	padding: 0px 1rem
	margin: 0px
	height: 1px
	border: 0px solid transparent
	background: var( --border-color )
	display: grid
	grid-template-areas: "legend aside"
	grid-template-columns: auto 1fr
	align-items: center
	& > *
		border: 1px solid var(--border-color)
		border-radius: 1rem
		justify-self: start
		padding: 0px 1ex
		margin-top: -1rem
		background: var(--canvas-color)
	& > abbr
		float: left
		margin-right: 1rem
		padding: 0px
		min-width: 1rem
		display: inline-flex
		align-items: center
		justify-content: center
		& + legend
			margin-left: 2em
			margin-top: -1.1rem
	& > legend
		border-color: transparent
		font-weight: 500
		height: 1rem
		line-height: .5rem
		display: flex
		align-items: center
	& > aside
		grid-area: aside
		justify-self: end
		display: inline-flex
		align-items: center
		& > *
			height: 1rem
			display: inline-flex
			align-items: center
			cursor: pointer
			svg
				width: .8rem
				height: .8rem
	&[data-step]
		cursor: pointer
		&:not([data-step='']), &:not([data-step='data-step'])
			grid-template-areas: "step legend aside"
			grid-template-columns: auto auto 1fr
			&:before
				content: attr(data-step)
				grid-area: step
				display: inline-flex
				align-items: center
				justify-content: center
				height: 1rem
				line-height: .5rem
				padding: 0px 1ex
				margin-right: 1ex
				background: var(--canvas-color)
				transform: translateY(-.5rem)
	&[data-step]:not([open])
		margin-bottom: 1rem
	&[data-step]:not([open]) + *
		display: none

figure
	margin: 0px
	display: flex
	flex-direction: column
	justify-content: flex-end
	& > del
		height: 0px
		width: 0px
		align-self: end
		line-height: 0px
		opacity: 0
		transition: opacity .3s
		&:before
			min-width: .8rem
			height: .8rem
			box-sizing: border-box
			background: var(--canvas-color)
			border: 1px solid var(--border-color)
			display: flex
			align-items: center
			justify-content: center
			border-radius: 1rem
	&:hover > del
		opacity: 1
		transition: opacity .3s
	& > section
		flex-grow: 1
	figcaption
		display: flex
		height: 3rem
		align-items: center
		gap: 1ex
		padding: 0px 1rem
		& > abbr
			transform: translateX(-1em)
			&:empty
				display: none
		& > aside
			&:empty
				display: none
		& > span
			flex-grow: 1

dialog[open]
	position: fixed
	top: 2rem
	z-index: 999
	border-radius: .3rem
	border: 0px solid transparent
	box-shadow: 0px 0px .55rem .1rem var( --border-color, GrayText )
	min-width: 37vw
	max-width: 37vw
	max-height: 93vh
	min-height: 17vh
	box-sizing: border-box
	& > del
		position: absolute
		right: .4rem
		top: 0px
